
body {
    background-image: url(BG.png);
    background-repeat: repeat;
}

h1 {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    transition: 0.5s ease-in;
}

h1:hover {

    font-size: 32px;
    color: rgb(196, 133, 255);
    transition: all 1s ease-out;
}

h2 {
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    transition: 0.5s ease-in;
}

h2:hover {

    font-size: 25px;
    color: rgb(255, 255, 255, 1);
    transition: all 1s ease-out;
}

legend {
    color:rgb(199, 199, 199);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

td {
    color:rgb(199, 199, 199);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 10px;
}

tr {
    background-color: black;
}

